# ------------------------------------------------------------------------------
# .clang-format
#
# Author: Sean Jeffery
#
# Valid with clang-format 21
# Information on options can be found at
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
#
# Some options may already be the default in LLVM style,
# but are called out here to show intentional choice.
#
# Remember, if you have some fancy formatting you *really* don't want touched,
# you can always wrap it in:
#
# // clang-format off
# ...
# // clang-format on
# ------------------------------------------------------------------------------

# ---- General ----
BasedOnStyle: LLVM
Language: C

# ---- Indendation and spacing ----
IndentWidth: 4
TabWidth: 4
UseTab: Never

# ---- Line length ----
ColumnLimit: 110

# ---- Comments ----
ReflowComments: false
AlignTrailingComments:
  Kind: Never
  OverEmptyLines: 1 # Only when Kind: Always

# ---- Braces ----
BreakBeforeBraces: Linux

# ---- Single lines statement ----
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false

# ---- Switch/case ----
IndentCaseLabels: true
IndentCaseBlocks: false

# ---- Alignments and wrapping ----
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
PackArguments:
  BinPack: BinPack
PackParameters:
  BinPack: BinPack
DerivePointerAlignment: false
PointerAlignment: Right
AlignAfterOpenBracket: BlockIndent
AlignOperands: false
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveDeclarations:
  Enabled: false
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveAssignments:
  Enabled: false
  AcrossEmptyLines: false
  AcrossComments: false
AlignArrayOfStructures: Left
KeepEmptyLines:
  AtStartOfBlock: false

# ---- Spacing ----
SpaceBeforeParens: ControlStatements
SpacesInParens: Custom
SpacesInParensOptions:
  InConditionalStatements: false
  InCStyleCasts: false
  InEmptyParentheses: false
  Other: false

# ---- Includes ----
SortIncludes: false
IncludeBlocks: Preserve

# ---- C++ ----
Language: Cpp

BreakTemplateDeclarations: Yes
FixNamespaceComments: true
AllowShortLambdasOnASingleLine: Empty
PointerAlignment: Left
