# ------------------------------------------------------------------------------
# .clang-format
#
# Author: Sean Jeffery
#
# Valid with clang-format 21
# Information on options can be found at 
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
#
# Some options may already be the default in LLVM style,
# but are called out here to show intentional choice.
#
# Remember, if you have some fancy formatting you *really* don't want touched,
# you can always wrap it in:
#
# // clang-format off
# ...
# // clang-format on
# ------------------------------------------------------------------------------

# ---- General ----
BasedOnStyle: LLVM
Language: C

# ---- Indendation and spacing ----
IndentWidth: 4
TabWidth: 4
UseTab: Never

# ---- Line length ----
# This is up for debate, but the 100 column
# limit produces code that is very readable,
# especially when using multiple split windows.
#
# Can cause weird comments though, could consider 
# leaving ReflowComments at Never or IndentOnly.
# That will leave comments > 100 columns but their
# formatting won't be messed with.
# 
# Could also consider a larger number, say 120
ColumnLimit: 100

# ---- Comments ----
ReflowComments: true
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1

# ---- Braces ----
BreakBeforeBraces: Allman

# ---- Single lines statement ----
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false

# ---- Switch/case ----
IndentCaseLabels: true
IndentCaseBlocks: false

# ---- Alignments and wrapping ----
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
BinPackArguments: false
BinPackParameters: OnePerLine
DerivePointerAlignment: false
PointerAlignment: Right
AlignAfterOpenBracket: BlockIndent
AlignOperands: true
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveDeclarations:
  Enabled: false
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignArrayOfStructures: Left
KeepEmptyLines:
  AtStartOfBlock: false

# ---- Spacing ----
SpaceBeforeParens: ControlStatements
SpacesInParens: Custom
SpacesInParensOptions:
  InConditionalStatements: true
  InCStyleCasts: false
  InEmptyParentheses: false
  Other: false

# ---- Includes ----
SortIncludes: false
IncludeBlocks: Preserve

