[user]
	name = organizedconfusion
	email = github@underclocked.com
[core]
    autocrlf = input
    editor = nvim
    excludesfile = ~/.gitignore_global
    pager = delta
[interactive]
    diffFilter = delta --color-only
[include]
    path = ~/deltathemes.gitconfig
[delta]
    features = everforest
    navigate = true
    line-numbers = true
    side-by-side = false
    pager = "less -FRSX"
[init]
    defaultBranch = main
[pull]
    rebase = false
    ff = true
[color]
    ui = auto
[pretty]
    mylog = %C(yellow)%h%C(reset) %C(green)%cr%C(reset) %C(blue)%an%C(reset) %s%C(auto)%d%Creset
[alias]
    st = status
    tree = log --branches --remotes --tags --graph --decorate-refs-exclude=HEAD --pretty=format:'%C(yellow)%h%Creset %s%C(auto)%d%Creset%n%b'
    diffs = -c delta.side-by-side=true diff
    shows = -c delta.side-by-side=true show

    # Fuzzy finder local branch switch
    zswitch = !git branch --format='%(refname:short)' \
        | fzf --preview 'git log --graph --color=always --pretty=mylog {} | head -100' \
              --preview-window=right:66% \
        | xargs -r git switch

    # Fuzzy finder remote branch checkout
    zcheckout = !git fetch --prune && \
        git branch -r --format='%(refname:short)' \
            | grep -v '^origin$' \
            | fzf --preview 'git log --graph --color=always --pretty=mylog {} | head -100' \
                  --preview-window=right:66% \
            | xargs -r git switch --track

    # Fuzzy finder log command with diff preview
    zlog = "!f() { \
        git log --color=always --pretty=mylog \"$@\" | \
        fzf -m --no-sort --layout=reverse --ansi \
            --preview='git show {1} | delta' \
            --preview-window=right:50% | \
        awk '{print $1}'; \
    }; f"

[rebase]
    autosquash = true
[commit]
    verbose = true
[help]
    autocorrect = prompt
[diff]
    algorithm = histogram
    ; colorMoved = default
    tool = nvimdiff
[difftool]
    prompt = true
[merge]
    conflictstyle = zdiff3
    tool = nvimdiff
[rerere]
    enabled = true
