[user]
	name = organizedconfusion
	email = github@underclocked.com
[core]
    autocrlf = input
    editor = nvim
    excludesfile = ~/.gitignore_global
    pager = delta
[interactive]
    diffFilter = delta --color-only
[include]
    path = ~/delta/themes.gitconfig
[delta]
    features = gruvmax-fang
    navigate = true
    line-numbers = true
    side-by-side = false
[init]
    defaultBranch = main
[pull]
    rebase = false
    ff = true
[color]
    ui = auto
[alias]
    st = status
    lg = log --oneline --graph --decorate
    lga = log --all --oneline --graph --decorate
[rebase]
    autosquash = true
[commit]
    verbose = true
[help]
    autocorrect = immediate
[diff]
    algorithm = histogram
    colorMoved = default
    tool = nvimdiff
[difftool]
    prompt = true
[merge]
    conflictstyle = zdiff3
    tool = nvimdiff
[rerere]
    enabled = true
